<div>
  <h2 class="lesson_title">View an instructor's profile!</h2>
  <div class="jesse">
    <a href="https://twitter.com/jshawl"><img class="teachers" src="../public/images/jesse.png"/></a>
    <h3>Jesse</h3>
  </div>
  <div class="jesse">
    <a href="https://twitter.com/adambray"><img class="teachers" src="../public/images/abray.jpg"/></a>
    <h3>Adam</h3>
  </div>
  <div class="jesse">
      <a href="https://twitter.com/MattScilipoti"><img class="teachers" src="../public/images/minaswan.png"/></a>
      <h3>Matt</h3>
  </div>
  <div class="jesse">
    <a href="https://twitter.com/urdmaseda"><img class="teachers" src="../public/images/adrian.jpg"/></a>
    <h3>Adrian</h3>
  </div>
  <div class="jesse">
      <a href="https://twitter.com/andrew_kim12"><img class="teachers" src="../public/images/andy.png"/></a>
      <h3>Andy</h3>
  </div>
  <div class="jesse">
      <a href="https://twitter.com/RobertAKARobin"><img class="teachers" src="../public/images/robin.jpg"/></a>
      <h3>Robin</h3>
  </div>
</div>
