<div>
  <h2 class="lesson_title">View an instructor's profile!</h2>
  <div class="jesse">
    <a href="https://twitter.com/jshawl"><img class="teachers" src="images/jesse.png"/></a>
    <h3>Jesse</h3>
  </div>
  <div class="jesse">
    <a href="https://twitter.com/jshawl"><img class="teachers" src="images/abray.jpg"/></a>
    <h3>Adam</h3>
  </div>
  <div class="jesse">
      <a href="https://twitter.com/jshawl"><img class="teachers" src="images/minaswan.png"/></a>
      <h3>Matt</h3>
  </div>
  <div class="jesse">
    <a href="https://twitter.com/jshawl"><img class="teachers" src="images/adrian.jpg"/></a>
    <h3>Adrian</h3>
  </div>
  <div class="jesse">
      <a href="https://twitter.com/jshawl"><img class="teachers" src="images/andy.png"/></a>
      <h3>Andy</h3>
  </div>
  <div class="jesse">
      <a href="https://twitter.com/jshawl"><img class="teachers" src="images/robin.jpg"/></a>
      <h3>Robin</h3>
  </div>
</div>
