<!doctype html>
<html>
  <head>
    <title>Speak App!</title>
    <link rel="stylesheet" type="text/css" href='/public/css/styles.css'>
  </head>
  <body>

    <header>
      <h1>Speak App!</h1>
      <div class="nav_bar">
        <span class="home">
          Home
        </span>
        <span class="lessons">
          Lessons
        </span>
        <span class="instructors">
          Instructors
        </span>
      </div>
    </header>

    <main>
      {{{body}}}
    </main>

     <footer>
       <p class="contact">
         We are constantly striving to make your Speak App! experience an
         enjoyable one. Don't hesitate to contact us with suggestions on how we
         can suck less.
         <a href="mailto:iamjustinprice@gmail.com">
           yousuck@speakapp.com
         </a>
     </footer>

  </body>
</html>
