<!doctype html>
<html>
  <head>
    <title>Speak App!</title>
    <link rel="stylesheet" type="text/css" href='/public/css/styles.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/public/js/models/lesson.js"></script>
    <script src="/public/js/models/comment.js"></script>
    <script src="/public/js/views/lessonView.js"></script>
    <script src="/public/js/views/commentView.js"></script>
    <script src="/public/js/script.js"></script>
  </head>
  <body>

    <header>
      <h1>Speak App!</h1>
      <div class="nav_bar">
        <span class="home"><a href="/lessons">
          Home</a>
        </span>
        <span class="lessons"><a href="/lessons">
          Lessons</a>
        </span>
        <span class="instructors"><a href="/instructors">
          Instructors</a>
        </span>
      </div>
    </header>

    <main>
      {{{body}}}
    </main>

     <footer>
       <p class="contact">
         We are constantly striving to make your Speak App! experience an
         enjoyable one. Don't hesitate to contact us with suggestions on how we
         can suck less.
         <a href="mailto:iamjustinprice@gmail.com">
           yousuck@speakapp.com
         </a>
     </footer>

  </body>
</html>
