<h2 class="lesson_title">{{lesson.topic}}</h2>
<p>{{lesson.date}}</p>
<a href="https://twitter.com/jshawl"><img class="jess" src="../public/images/jesse.png"/></a>
<h3>Jesse Shawl</h3>
<p>@jshawl</p>
<div class="issues">
  <span class="help">
    Slow down!
  </span>
  <span class="help">
    Gotta pee!
  </span>
  <span class="help">
    Don't get it!
  </span>
  <span class="help">
    Ur killin' it!
  </span>
</div>
<form>
  <textarea rows="5" cols="25" placeholder="Comments?"></textarea>
  <input type="hidden" class="hidden_lesson_id" value=1>
  <!-- <input type="hidden" class="hidden_student_id" value=1> -->
  <input type="submit" class="submit">
</form>
